<style>
  .inspector {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 30rem;
    background-color: #2f2f2f;
    border-right: 2px solid #efefef;
    overflow-y: scroll;
    padding: 1rem;
  }
  .inspector code {
    color: #fefefe;
  }
  .inspector code mark {
    background-color: #fefefe;
    padding: 0.01em 0.4em;
    color: #2f2f2f;
  }

</style>
<div class="inspector">
<pre>
<code>
{% for key, value in _context %}
{% if key starts with '_' %}
{% else %}
<mark>{{ key }}:</mark>
{{ dump(value) }}
{% endif %}
{% endfor %}
</code>
</pre>
</div>
