//  Global base
//  ---------------------------
//
//  Table of Contents:
//
// 1. Global
// 2. Media
// 3. Helpers
// 4. Text



// 1. Global
// ---------
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  @include sans();
  @include font-size(m);
  margin: 0;
  background-color: $darkblue;
  color: $darkblue;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

// 2. Media
// ---------
img {
  display: block;
  max-width: 100%;
  height: auto;
}

// 3. Helpers
// ---------
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.no-scroll {
  height: 100%;
  overflow: hidden;
}

// 4. Text
// ---------
::selection {
  background: rgba($green, 0.5);
  color: $darkblue;
}

::-moz-selection {
  background: rgba($green, 0.5);
  color: $darkblue;
}
