//  Grid
//  -----------------------------
//
//  Table of Contents:
//
// 1. Globals
// 2. Base
// 3. Gutters
// 4. Row Alignment

// 1. Globals
// ---------
@mixin container() {
  max-width: 1060px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container {
  @include container();
}

.flex-center {
  @include flex-center;
}

.flex-center-column {
  @include flex-center-column;
}


// 2. Base
// ---------

.grid {
  display: flex;
}

.grid-cell {
  flex: 1;

  &--33 {
    flex: 0 0 40%;

    @include mq(m) {
      flex: 0 0 33.333%;
    }
  }
  &--66 {
    flex: 0 0 60%;

    @include mq(m) {
      flex: 0 0 66.667%;
    }
  }
}

// 3. Gutters
// ---------
.grid--gutters {
  margin: 0 0 0 -20px;
}
.grid--gutters > .grid-cell {
  padding-left: 20px;
}

// 4. Row Alignment
// ---------
.grid--top {
  align-items: flex-start;
}
.grid--bottom {
  align-items: flex-end;
}
.grid--center {
  align-items: center;
}
.grid--baseline {
  align-items: flex-end;
}
.grid--center-horizontal {
  justify-content: center;
}


.grid--justify-center {
  justify-content: space-between;
  align-items: center;
}
.grid--center-center {
  justify-content: center;
  align-items: center;
}
