.cart-wrapper {
  position: absolute;
  right: 1rem;
  top: 0.75rem;
}

.cart-link {
  color: $off-white;
  padding-top: $baseline/3;
  text-transform: uppercase;
  @include tracking(200);
  @include font-size(-1);
  line-height: 2rem;
  &:hover {
    color: $blue-gray;
  }
}

$easing-function: cubic-bezier(0.215, 0.440, 0.420, 0.880);

@mixin modal-overlay() {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: scroll;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  background: rgba($off-black, 0.7);
  @include transition(visibility 0ms linear 300ms, opacity 300ms $easing-function);
  z-index: 50;
  &.is-active {
    visibility: visible;
    opacity: 1;
    @include transition-delay(0ms);
    .modal-content {
      visibility: visible;
      opacity: 1;
      @include transition-delay(0ms);
      @include transform(translate3d(0,0,0))
    }
  }
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em; /* Adjusts for spacing */
  }
}

  @mixin modal-content() {
    box-sizing: border-box;
    max-height: 80vh;
    z-index: 100;
    float: none;
    color: $off-white;
    background: $off-black;
    padding: $baseline;
    text-align: start;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    display: inline-block;
    vertical-align: middle;
    opacity: 0;
    visibility: hidden;
    @include transition-prefixed(transform 300ms $easing-function, visibility 0ms linear 300ms, opacity 300ms $easing-function);
    @include transform(translate3d(0, 20px, 0));
    a {
      color: $off-white;
    }
  }

.modal-overlay { @include modal-overlay() ;}
.modal-content { @include modal-content() ;}

.pre-checkout {
  display: none;
  &.is-active {
    display: block;
  }
}

.checkout {
  display: none;
  &.is-active {
    display: block;
  }
}
