.wrapper {
  flex: 1 0 auto;
}


footer {
  padding: 1*$baseline;
  background-color: $onyx;
  color: $off-white;
  border-top: 4px solid rgba($blue-gray, .1);
  position: relative;
  flex: none;

  ul {
    list-style-type: none;
  }
  a {
    color: $off-white;
    &:visited {
      color: $off-white;
    }
    &:hover {
      color: $off-white;
      border-bottom: 2px solid $off-white;
    }
  }
}
