.table-head {
  @include clearfix();
  @extend .body-bold;
  padding-top: $baseline;
  padding-bottom: $baseline/3;
  margin-bottom: $baseline/3;
}

.table-body {
  @include clearfix();
}

.table-row {
  padding-top: $baseline/3;
  padding-bottom: $baseline/3;

  &:nth-child(even) {
    background-color: rgba($lightest-gray, 0.2);
  }
}

.table-foot {
  @include clearfix();
  margin-top: $baseline/2;
}

.table-total {
  margin-top: $baseline/2;
  @extend .body-bold;
}