<footer>
  <div class="container">
    <div class="column-14 pre-5 text-center trailer-4">
      <p class='trailer-0'>2580 Augusta Street</p>
      <p class='trailer-0'>Eugene, OR 97403</p>
      <p class='trailer-0'>541-465-9079</p>
      <p><a href="mailto:info@lonegoosepress.com">info@lonegoosepress.com</a></p>
      <p class='font-size-1'>lone goose press is dedicated to excellence in the crafts of typographic design, letterpress printing and bookbinding.</p>

      <p class="font-size--1 leader-1 trailer-0">Cover photo by George Filgate.</p>
      <p class="font-size--1">All other photos except weathergrams by Jon Christopher Meyers.</p>
    </div>
  </div>
</footer>