<div class="column-24 leader-1 trailer-1">
  <p class='text-center'>
    <a class='inline-menu-link link-red' href="/">Home</a>
    <a class='inline-menu-link link-red' href="/impressions/">Impressions</a>
    <a class='inline-menu-link link-red' href="/about/"> About the Press</a>
    <a class='inline-menu-link link-red' href="/publications/"> Publications</a>
    <a class='inline-menu-link link-red' href="/commisions/"> Commissions</a>
    <a class='inline-menu-link link-red' href="/contact/"> Contact</a>
  </p>
</div>