{% extends "layouts/layout.twig" %}
{% block content %}

<div class="grid-container leader-3 clearfix">

  <aside class="column-8 pre-1 leader-4 clearfix">
    <img src="/assets/img/about/about.png" alt="Sandy Tilcock At the Press">
    <img class="leader-1 tablet-hide" src="/assets/img/about/Sandy.jpg" alt="Sandy Tilcock">
    <img class="leader-1 tablet-hide" src="/assets/img/about/McGriff_Positioning.JPG" alt="Sandy Tilcock">
    <img class="leader-1 tablet-hide" src="/assets/img/about/McGriff_Keith_Achepohl_watchng_mixing_ink.jpg" alt="Sandy Tilcock At the Press">
    <img class="leader-1 tablet-hide" src="/assets/img/about/Proofing_type_Handset.jpg" alt="Sandy Tilcock At the Press">
    <img class="leader-1 tablet-hide" src="/assets/img/about/Matthew_Dickman_and_Sandy.jpg" alt="Sandy Tilcock At the Press">
  </aside>

  <main class="column-11 pre-1 clearfix">

    <h3>Sandy Tilcock, Owner</h3>

    <p>Since her childhood, Sandy has been enchanted and inspired by the physical presence of books. She loved to read, but was also drawn to the weight and feel of books, their symmetry and order. It is this enchantment that led her to establish lone goose press. Over the past quarter century, her work has been recognized for its imaginative designs and impeccable craftsmanship. She holds a Master of Fine Arts degree from the University of Alabama, where she studied printing, typography and letterpress printing with noted printer and teacher Richard-Gabriel Rummonds. She was Founding Director of Knight Library Press at the University of Oregon, and served in that position for seven years.</p>

    <p>Sandy has always had a passion for freedom. On long summer evenings as a child she treasured the ability to get on her bicycle and ride to the outskirts of town, exploring the edges of her world, delighting in the play of possibilities, returning at nightfall full of dreams. To this day she most loves the inviting warmth and expansiveness of that time of year. To her friends who prefer the cooler months she makes no apology for her midsummer affinity: “What can I say? I’m a tomato!”</p>

    <p>The play of possibilities led Sandy to explore several pathways. As a mathematics major in college, she developed a disciplined, analytical approach to problems as well as an appreciation for what mathematicians call “the elegant solution”. A love of nature led her to photography back in the days when this craft inevitably meant contriving a darkroom and becoming intimate with chemical trays and timers. She was captivated by the sense of revelation in the play of light on surfaces. Over the years she became a passionate gardener. In that domain she tends to shun regimentation—she is the gentle advocate of chaos, delighting in the wild and unexpected. She has recently discovered the art of Bonsai, and enjoys the patient dialogue between plant and person, the gradual teasing out of the elegant solution.</p>

    <p>Beyond her backyard, Sandy has long been an environmental advocate, devoted to preserving and protecting wild lands and waters. lone goose press derives its name from a passage in Aldo Leopold’s <em>Sand County Almanac.</em> Leopold’s curious observation of the occasional solitary Canada Goose during the spring migration resonated with her sense of sudden isolation starting a one-person enterprise after leaving the collegial support of the graduate program at Alabama.</p>

    <p>Sandy is devoted to her dogs, current census two. They would describe her as loving, generous and attentive, though they would probably agree that she works too hard.</p>

    <p>Sandy remains an avid bicyclist to this day.</p>

    <p>In her work as in her life, Sandy values not just the elegant solution, but peace, harmony and understanding. She still seeks to venture to the outskirts in visual and verbal expression, nurturing an endless supply of dreams.</p>
  </main>

  <div class="column-12 pre-10 post-1 clearfix">
    <h3>Assistants</h3>
    <p>Joining Sandy in the studio are Patrick, Rosie, Samantha, and Cali.</p>
  </div>

  <div class="column-24 trailer-1">
    <div class="column-6 pre-3">
      <img title="Patrick Tilcock" alt="Patrick Tilcock" class="small" src="/assets/img/assistants/Patrick.jpg">
    </div>
    <div class="column-6 pre-1">
      <p><strong>Patrick,</strong> Sandy’s partner for more than 40 years, has been actively engaged in the work of lone goose press since its beginning. Besides providing support services such as great meals, insistence on taking time for fun and helping maintain the studio he also works as the press’s editor and copy writer.</p>
    </div>
  </div>
  <div class="column-24">
    <div class="column-18 pre-3">
      <div class="column-6">
        <img title="Samantha" alt="Samantha" class="small" src="/assets/img/assistants/Sam.jpg">
        <p><strong>Samantha,</strong> having completed her apprenticeship, is now engaged in mentoring Cali in the responsibilities of a canine studio assistant. She finds it challenging to corral Cali's enthusiasm, given the many alluring materials and tools of a book arts studio, but persistence has always been one of Samantha’s&nbsp;gifts.</p>
      </div>
      <div class="column-6">
        <img title="Rosie" alt="Rosie" class="small" src="/assets/img/assistants/Rosie2.jpg">
        <p><strong>Rosie,</strong> he eldest, and some say the most elegant, member of the canine contingent, often finds herself in some interesting positions and locations as she finds a spot to supervise the day’s activities. The studio is enriched by her dry sense of humor.</p>
      </div>
      <div class="column-6">
        <img title="Cali" alt="Cali" class="small" src="/assets/img/assistants/cali.jpg">
        <p><strong>Cali,</strong> sometimes known as Kali McBooboo, is just beginning her internship at the press. Despite her youth, she is already well advanced in the important role of letting her colleagues know when it is time to stop working and get some fresh air and exercise. She has taken a keen interest in landscaping—sometimes a little <i>too</i> keen, but that’s another story!</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}