{% extends "layouts/layout.twig" %}
{% block content %}
<div class="grid-container leader-3">
  <main class="column-12 pre-6 post-6 tablet-column-10 tablet-pre-1 ">
    <h2 class="text-center secondary-face trailer-2">Commisions</h2>
    <ul>
      <li><a href="/commisions/design/">Design</a></li>
      <li><a href="/commisions/realization/">Realization</a></li>
      <li><a href="/commisions/publishing/">Publishing Support</a></li>
    </ul>


      <p>lone goose press welcomes commission work. Sandy has over 25 years experience in designing and producing books, broadsides, commemorative awards and other book arts endeavors on commission. These may be editions or one-of-a-kind works. Each project is unique, and the collaborative process with the client often yields unexpected rewards.</p>

      <p>Sandy brings an extensive background and experience in typography and book design to each printing project. The means of setting text and imagery on paper may include both letterpress and digital printing techniques.</p>

      <p>Grounded in both French and English binding traditions, Sandy takes an eclectic, innovative approach to determine the most appropriate means of bringing the concept to fulfillment. Binding features may include a wide variety of bookcloth and leather, decorated papers, dyed endsheets and hand-sewn headbands, as the project requires. lone goose bindings and enclosures have won awards and are known for their elegance, precision and attention to detail. They reflect the principle that form follows function, and are executed so that books open freely and are easily read.</p>

      <p>Sandy relishes the craft of boxmaking. Her innovative designs and impeccable execution of enclosures has earned the respect of collectors, artists, photographers, printmakers and others across the country. She has adapted the basic clamshell box design in a variety of ways. Some of her boxes have included drawers and other additional compartments, special structures to accommodate wedge-shaped books, and to house and display sculptural works and jewelry. Features may include inlaid labels and magnetic closures. Boxes larger than 11" x 14" have a double-wall construction with lapped joints, creating a very strong enclosure.</p>

  </main>

  <section class="leader-3">
    <div class="column-24">
      <h3 class="text-center trailer-1">
        <a href="/commisions/design/">Design</a>
      </h3>
    </div>
    <div class="column-12">
      <a href="/commisions/design/">
        <img src="https://d33wubrfki0l68.cloudfront.net/2efe4ff6e4093c4b7582fabd6d205ab2d7ecbaef/880da/assets/img/inking_plate.jpg">

      </a>
      <p class="font-size--2">Photograph by Petar Iliav</p>
    </div>
    <div class="column-11 tablet-column-10 tablet-pre-1 leader-1">
      <p>The client presents a task/project in which they know what they want to accomplish and the "look" they want. I listen, distill what they have said, research options and pertinent information. Then I present a proposal (possibly two), discuss with them, refine the chosen proposal if necessary and then provide an estimate for the realization of the project. Once the design is settled I gather necessary the materials, select subcontractors such as lettering artists and go into production.</p>
    </div>
    <div class="column-24 trailer-2">
      <h6 class="text-center body-face leader-half">
       <a href="/commisions/design/">View All Design Projects</a>
      </h6>
    </div>
  </section>

 <section class="leader-3">
    <div class="column-24">
      <h3 class="text-center trailer-1">
        <a href="/commisions/realization/">Realization</a>
      </h3>
    </div>
    <div class="column-12">
      <a href="/commisions/realization/">
        <img src="https://d33wubrfki0l68.cloudfront.net/0fd8f5cfe2a1ff1f3abedf0dc9adc785488fc7fe/a9d1c/assets/img/stack_of_prints.jpg">

      </a>
      <p class="font-size--2">Photograph by Petar Iliav</p>
    </div>
    <div class="column-11 tablet-column-10 tablet-pre-1 leader-1">
      <p>The client presents the project, designed by them. I then determine the best approach to accomplish their project, present them a budget and proceed to perform the tasks involved if approved. This may include letterpress printing, digital printing, binding and other processes as necessary. I may arrange to subcontract for work that is not done in the studio.</p>
    </div>
    <div class="column-24 trailer-2">
      <h6 class="text-center body-face leader-half">
       <a href="/commisions/realization/">View all Realized Projects</a>
      </h6>
    </div>
  </section>


  <section class="leader-3">
    <div class="column-24">
      <h3 class="text-center trailer-1">
        <a href="/commisions/publishing/">Publishing Support</a>
      </h3>
    </div>
    <div class="column-12">
      <a href="/commisions/publishing/">
        <img src="https://d33wubrfki0l68.cloudfront.net/67a92f8e1a601f8d3c16d9027c96460b17653656/363cc/assets/img/standing_press.jpg">

      </a>
      <p class="font-size--2">Photograph by Petar Iliav</p>
    </div>
    <div class="column-11 tablet-column-10 tablet-pre-1 leader-1">

        <p>lone goose press provides quality self-publishing support drawing on decades of experience as a publisher. A wide range of services are available and pricing is determined on a project by project basis. References are available upon request.</p>

        <p>The process begins with an extensive interview with the client regarding goals, expectations and the project’s support needs. Services can include: production facility selection, project management, cover design, text layout, proofreading, ISBN and Library of Congress registration, as well as professional recommendations regarding marketing and distribution options.</p>

    </div>
    <div class="column-24 trailer-2">
      <h6 class="text-center body-face leader-half">
       <a href="/commisions/publishing/">View All Publishing Projects </a>
      </h6>
    </div>
  </section>
</div>
{% endblock %}