{% extends "layouts/layout.twig" %}
{% block content %}

<div class="grid-container leader-3">
  <aside class="column-10 post-2">
    <img src="/wp-content/themes/lone-goose-press/source/img/lonegoose.png" alt="lone goose press">
  </aside>
  <main class="column-11 pre-1">
    <h4 class="trailer-half">General Information</h4>
    <h5 class="body-face leader-0">
      <a href="mailto:info@lonegoosepress.com">info@lonegoosepress.com</a>
    </h5>
    <h4 class="trailer-half">Patrick</h4>
    <h5 class="body-face leader-0">
      <a href="mailto:marketing@lonegoosepress.com">marketing@lonegoosepress.com</a>
    </h5>

    <h4 class="trailer-half">Canine Assistants</h4>
    <h5 class="body-face leader-0">
      <a href="mailto:dogs@lonegoosepress.com">dogs@lonegoosepress.com</a>
    </h5>

    <p class='leader-2'>
      2580 Augusta Street <br>
      Eugene, OR 97403 <br>
      541-465-9079
    </p>
  </main>

  <div class="column-22 pre-1 leader-2 trailer-2 text-center">
    <img src="/wp-content/themes/lone-goose-press/source/img/Studio.jpg" alt="the studio press">
  </div>
</div>
{% endblock %}