{% extends "layouts/layout.twig" %}
{% block content %}

<div class="grid-container leader-4">
  <main class="column-12 pre-6">
    <h1 class="text-center trailer-4">Impressions</h1>

      <!-- forloop -->
      <article class="trailer-4">
        <h3>
          <a href="{article.url}">{article.title}</a>
        </h3>
        <p class="trailer-0">{article.author}</p>
        <p>{article.date | date('F jS\, Y')  }</p>
      </article>
      <hr class="trailer-4">
      <!-- end for loop -->
  </main>
</div>
{% endblock %}