{% extends "layouts/layout.twig" %}
{% block content %}
<header class='header text-center'>
  <h1 class="secondary-bold">lone goose press</h1>
</header>

<div class="grid-container leader-2">
  <main class="column-12 pre-6">
    <p class='text-center font-size-3 trailer-2'>{{data.catalog.sections.index.title}}</p>

    {% for p in data.catalog.sections.index.description %}
      <p>{{p}}</p>
    {% endfor %}

  </main>
</div>
{% endblock %}