{% extends "layouts/layout.twig" %}
{% block content %}

<div class="grid-container leader-4">
  <div class="column-10 pre-7">
    <h1 class="font-size-2">There was a small problem</h1>
    <p>Something happened that prevented us from receiving your order. You can try to check out again, and if that doesn't work, please send us an email and we'll complete your order by hand.</p>
    <p><a class="btn font-size--3" href="mailto:orders@lonegoosepress.com">Place your order via email</a></p>
  </div>
</div>
{% endblock %}