{% extends "layouts/layout.twig" %}
{% block content %}
<header class='grid-container leader-6'>
  <div class="column-24">
    <h1 class="text-center secondary-bold">Opening the Mouth of the Dead</h1>
  </div>
  <div class="column-12 pre-6 leader-2">
    <h3>Poems by Catherine Woodard</h3>
    <h3>Artwork by Margot Voorhies Thompson</h3>
  </div>
</header>

<main class="grid-container leader-4">
  <section class="column-12 pre-6">
    <ul>
      <li><a href="/opening-the-mouth-of-the-dead/limited-edition">Limited Edition Book Art</a></li>
      <li><a href="/opening-the-mouth-of-the-dead/paperback">Paperback</a></li>
    </ul>
    <p class='font-size-1'>
      lone goose press is pleased to present Catherine Woodard’s story in poems.The central character is a third-grade girl growing up in 1960s North Carolina who uses the ancient Egyptian <em>Book of the Dead</em> to navigate her complicated relationship with her father. Alive he sometimes seems as dead as a mummy.
    </p>
    <p class='font-size-0 trailer-2'>
      Available as a limited-edition book art publication and as a trade paperback. Publication date: September 7, 2017.
    </p>
  </section>

  <section class="leader-3">
    <div class="column-24">
      <h4 class='text-center trailer-1'>
        <a href="/opening-the-mouth-of-the-dead/limited-edition">Limited Edition Book Art</a>
      </h4>
    </div>
    <div class="column-12">
      <a href="/opening-the-mouth-of-the-dead/limited-edition">
        <img src="/assets/img/omd/OMD_Book-Box.jpg">
      </a>
    </div>
    <div class="column-11 tablet-column-10 tablet-pre-1 leader-1">
      <p><em>OPENING THE MOUTH OF THE DEAD</em>, bound in an accordion format, measures 11.75 inches in height and may be extended to 18 feet in length.The artwork by Margot Voorhies Thompson is reproduced by an intaglio process using photopolymer photogravure plates.The same process was used to reproduce a scanned mezzotint by Perri Blitz which is used for the endsheets and front of box.The 20 poems by Catherine Woodard are selected from the 64 comprising the paperback edition. Each copy will be signed by author and artist, and housed in a custom clamshell box. Numbered edition of 59.</p>
      <p>$1,750.00</p>
      <div class="leader-1 trailer-1">
        <a href="#" class="btn js-add-to-cart js-modal-toggle" data-modal="cart" data-id="Opening the Mouth of the Dead Limited Edition" data-price=1750 data-shipping=25>Add to Cart</a>
      </div>
      <p>
        <a href="/opening-the-mouth-of-the-dead/limited-edition">More Information</a>
      </p>
    </div>
  </section>

   <section class="leader-5">
    <div class="column-24">
      <h4 class='text-center trailer-1'>
        <a href="/opening-the-mouth-of-the-dead/paperback">Paperback</a>
      </h4>
    </div>
    <div class="column-6">
      <a href="/opening-the-mouth-of-the-dead/paperback">
        <img src="/assets/img/omd/OMD Front Cover.jpg">
      </a>
    </div>
    <div class="column-17 pre-1 tablet-column-10 tablet-pre-1 leader-1">
      <p class="trailer-0">Like a yearning, incantatory prayer, these extraordinary poems build to an exquisite and devastating story of loss.With a child’s precision of observation made especially poignant through her third grade reading of the Egyptian <em>Book of the Dead</em>, Woodard’s narrator renders a brilliant portrait of a troubled family—a poem cycle truly remarkable for its economy, surprising humor, and sharp truths.</p>
      <p class="text-right leader-0">— Kate Walbert, novelist</p>
      <p class=>$17.95</p>
      <div class="leader-1 trailer-1">
        <a href="#" class="btn js-add-to-cart js-modal-toggle" data-modal="cart" data-id="Opening the Mouth of the Dead Paperback" data-price=17.95 data-shipping=4>Add to Cart</a>
      </div>
      <p><a href="/opening-the-mouth-of-the-dead/paperback">More Information</a></p>
    </div>
  </section>
</main>

{% endblock %}