{% extends "layouts/layout.twig" %}
{% block content %}
<div class="grid-container leader-3">
  <main class="column-12 pre-6 post-6 tablet-column-10 tablet-pre-1 ">
    <h2 class="text-center secondary-face trailer-2">Publications</h2>
    <ul>
      <li><a href="/publications/broadsides/">Broadsides</a></li>
      <li><a href="/publications/books/">Books</a></li>
      <li><a href="/publications/ephemera/">Chapbooks, Ephemera</a></li>
    </ul>
    <p>The core of the press’s work is rooted in a passion for traditional forms and methods of setting words on paper. It is about creating beautiful, valued artifacts, but always in service of the text. Any imagery is carefully selected and incorporated to honor the author’s words. The goal is to produce a worthy vessel for writings with urgency and relevance for our time. For the most part the texts are contemporary; the techniques are consistent with those common prior to the industrial expansion of the publishing industry.</p>
  </main>

  <section class="leader-3">
    <div class="column-24">
      <h3 class="text-center trailer-1">
        <a href="/publications/books/">Books</a>
      </h3>
    </div>

    <div class="column-12">
      <a href="/publications/books/">
        <img src="https://d33wubrfki0l68.cloudfront.net/1e40a47196066bc14f0c17b244758d72b210488e/6f399/assets/img/publication.png">
      </a>
      <p class="font-size--2">Photograph by Petar Iliav</p>
    </div>
    <div class="column-11 tablet-column-10 tablet-pre-1 leader-1">
      <p>lone goose press owner Sandy Tilcock achieved recognition as a bookbinder and designer of limited­ edition books prior to her introduction to letterpress printing. Her books reflect her priority for honoring the text. All the elements—typography, design, imagery, materials and binding methods are integrated in service to the author’s words. lone goose press books are conceived as collaborations with authors, and where commissioned artwork is used, with artists. Sandy’s limited edition books have achieved international recognition for their design, creative use of materials, precise typography and attention to detail.</p>
    </div>
    <div class="column-24 trailer-2">
      <h6 class="text-center body-face leader-half">
       <a href="/publications/books/">View All Book Projects</a>
      </h6>
    </div>
  </section>

  <section class="leader-3">
    <div class="column-24">
      <h3 class="text-center trailer-1">
        <a href="/publications/broadsides/">Broadsides</a>
      </h3>
    </div>
    <div class="column-12">
      <a href="/publications/broadsides/">
        <img src="https://d33wubrfki0l68.cloudfront.net/8b123bebe175d0a9d8b780ff0dc7e47c1373c2eb/ac2a8/assets/img/design.png">
      </a>
      <p class="font-size--2">Photograph by Petar Iliav</p>
    </div>
    <div class="column-11 tablet-column-10 tablet-pre-1 leader-1">

        <p>From the earliest days of movable type, printers have worked with the limits presented by the size and format of the press, producing a single sheet of printed paper at a time. While this process was quickly adapted for the printing of books, the single­sheet format was often used for official announcements and proclamations. As the technology became more widely available, it also became a vehicle for political agitation. Dissident printers in back­ alley shops sometimes cranked out calls for insurrection or reproduced scaffold speeches by condemned prisoners. The term broadside continues to carry the connotation of challenging the prevailing structures of power and ideology.</p>

        <p>While lone goose press’s approach to broadsides may be more reflective than inflammatory, we tend to seek poems or short prose essays that challenge us to perceive a deeper understanding of citizenship in this world.</p>

    </div>
    <div class="column-24 trailer-2">
      <h6 class="text-center body-face leader-half">
       <a href="/publications/broadsides/">View All Broadsides</a>
      </h6>
    </div>
  </section>

  <section class="leader-3">
    <div class="column-24">
      <h3 class="text-center trailer-1">
        <a href="/publications/ephemera/">Chapbooks and Ephemera</a>
      </h3>
    </div>
    <div class="column-12">
      <a href="/publications/ephemera/">
        <img src="https://d33wubrfki0l68.cloudfront.net/71e6742ea45f369ece844c704911506621f5c286/10482/assets/img/ink_can.jpg">
      </a>
      <p class="font-size--2">Photograph by Petar Iliav</p>
    </div>
    <div class="column-11 tablet-column-10 tablet-pre-1 leader-1">
      <p>Some lone goose press publications take the form of small booklets or chapbooks. In earlier centuries such inexpensive works, featuring illustrated poems and stories, were sold by itinerant peddlers, outside the mainstream of commercial book production. Keepsakes may be various kinds of small, intimate printed items produced in editions for specific events, or just for the sheer pleasure of setting ink on paper. The press also produces ephemera such as our traditional “Weathergrams” which are shared among friends and may be given to guests at studio events or receptions.</p>
    </div>
    <div class="column-24 trailer-2">
      <h6 class="text-center body-face leader-half">
       <a href="/publications/ephemera/">View All Ephemera</a>
      </h6>
    </div>
  </section>
</div>
{% endblock %}