// ┌──────────────────────┐
// │ Settings & Variables │
// └──────────────────────┘
//
// ┌────────────┐
// │ Structural │
// └────────────┘
// ┌──────────────────┐
// │ Scales:  Musical │
// └──────────────────┘
$octave:                 2;
$major7th:               1.875;
$minor7th:               1.778;
$major6th:               1.667;
$minor6th:               1.6;
$fifth:                  1.5;
$dim5th:                 1.414;
$aug4th:                 1.414;
$fourth:                 1.33;
$major3rd:               1.25;
$minor3rd:               1.2;
$major2nd:               1.125;
$minor2nd:               1.067;
$unison:                 1;
// ┌───────────────┐
// │ Scales: Other │
// └───────────────┘
$golden:                 1.618;

// ┌────────────┐
// │ Typography │
// └────────────┘
// ┌────────────┐
// │ Type:Sizes │
// └────────────┘
$base-size:              14;
$rem-size:               $base-size * 1px;
$ratio:                  $golden;
$body-size:              1rem;
$small-size:             0.85rem;
$baseline:               0.25rem;
$leading:                5*$baseline;
$indent:                 1em;
$tracking-wide:          20;
$tracking-tight:         -10;
$wordspace-wide:         20;
$wordspace-tight:        -10;
$type-sizes: (
  (14, 20),
  (18, 22),
  (20, 27),
  (27, 32),
  (100, 100)
);

// ┌────────────┐
// │ Type:Faces │
// └────────────┘
// @font-face {
//     font-family: 'font';
//     src: url('path/font.woff2') format('woff2'),
//          url('path/font.woff') format('woff'),
//     font-weight: normal;
//     font-style: normal;
// }
// ┌─────────────┐
// │ Type:Stacks │
// └─────────────┘
$sans: Theinhardt, Hevetica Nue, Arial, sans-serif;
$serif: Vanitas-Black, Times, Georgia, serif;

// ┌─────────────────────┐
// │ Type:CSS Generation │
// └─────────────────────┘
$leading:                 true;
$leading-responsive:      true;
$tracking:                     false;
$tracking-responsive:          false;
$word-spacing:                 false;
$word-spacing-responsive:      false;
$alignment:               true;
$alignment-responsive:    true;
$font-scale:                   false;
$font-scale-responsive:        false;
$font-size:               true;
$font-size-responsive:         false;
$font-weight:             true;
  $fw-thin:                    false;
  $fw-light:                   false;
  $fw-regular:            true;
  $fw-medium:                  false;
  $fw-demi:                    false;
  $fw-bold:               true;
  $fw-black:                   false;
$font-weight-responsive:       false;
$font-style:              true;
$font-style-responsive:        false;


// ┌──────┐
// │ Grid │
// └──────┘
// ┌──────────────────┐
// │ Container Widths │
// └──────────────────┘
$container-ratio:        11/12;
$container-ratio-medium: 10/12;
$container-ratio-large:  8/12;
$max-width:              60rem;
// ┌───────────────┐
// │ Grid: Columns │
// └───────────────┘
$gutter:                 4%;
$col-count:              12;
// ┌───────────────┐
// │ Grid: Spacing │
// └───────────────┘
$vertical-range: 12;
$spacing: (
  padding-x: $gutter,
  padding-y: $baseline,
  padding-outer-x: $gutter / 2,
  padding-outer-y: $baseline
);
$padding-x: map-get($spacing, padding-x);
$padding-y: map-get($spacing, padding-y);
$padding-outer-x: map-get($spacing, padding-outer-x);
$padding-outer-y: map-get($spacing, padding-outer-y);


// ┌─────────────────────────┐
// │ Media Query Breakpoints │
// └─────────────────────────┘
$small:                  30rem;
$large:                  60rem;

// ┌────────┐
// │ Colors │
// └────────┘
// ┌──────────────┐
// │ Colors:Brand │
// └──────────────┘
$green: #61C997;
$darkblue: #312A37;
$tan: #F4F1EC;
$gold: #D8AC6C;
$orange: #EF6145;

// ┌──────────────┐
// │ Colors:Other │
// └──────────────┘


// ┌─────────────┐
// │ Transitions │
// └─────────────┘
$slow: 0.4s;
$regular: 0.25s;
$fast: 0.175s;
