// ┌──────────────────────┐
// │ Settings & Variables │
// └──────────────────────┘
//
// ┌────────────┐
// │ Structural │
// └────────────┘
// ┌──────────────────┐
// │ Scales:  Musical │
// └──────────────────┘
$octave:                 2;
$major7th:               1.875;
$minor7th:               1.778;
$major6th:               1.667;
$minor6th:               1.6;
$fifth:                  1.5;
$dim5th:                 1.414;
$aug4th:                 1.414;
$fourth:                 1.33;
$major3rd:               1.25;
$minor3rd:               1.2;
$major2nd:               1.125;
$minor2nd:               1.067;
$unison:                 1;
// ┌───────────────┐
// │ Scales: Other │
// └───────────────┘
$golden:                 1.618;

// ┌──────┐
// │ Grid │
// └──────┘
// ┌──────────────────┐
// │ Container Widths │
// └──────────────────┘
$container-ratio:        11/12;
$container-ratio-medium: 10/12;
$container-ratio-large:  8/12;
$max-width:              60rem;
// ┌───────────────┐
// │ Grid: Columns │
// └───────────────┘
$gutter:                 4%;
$col-count:              12;


// ┌────────────┐
// │ Typography │
// └────────────┘
// ┌────────────┐
// │ Type:Sizes │
// └────────────┘
$rem-size:               16px;
$ratio:                  $golden;
$body-size:              1rem;
$small-size:             0.85rem;
$baseline:               0.25rem;
$leading:                5*$baseline;
$indent:                 1em;

// ┌────────────┐
// │ Type:Faces │
// └────────────┘
// @font-face {
//     font-family: 'font';
//     src: url('path/font.woff2') format('woff2'),
//          url('path/font.woff') format('woff'),
//     font-weight: normal;
//     font-style: normal;
// }
// ┌─────────────┐
// │ Type:Stacks │
// └─────────────┘
$sans: Theinhardt, Hevetica Nue, Arial, sans-serif;
$serif: Vanitas-Black, Times, Georgia, serif;

// ┌─────────────────────────┐
// │ Media Query Breakpoints │
// └─────────────────────────┘
$small:                  30rem;
$large:                  60rem;

// ┌────────┐
// │ Colors │
// └────────┘
// ┌──────────────┐
// │ Colors:Brand │
// └──────────────┘
$green: #61C997;
$darkblue: #312A37;
$tan: #F4F1EC;
$gold: #D8AC6C;
$orange: #EF6145;

// ┌──────────────┐
// │ Colors:Other │
// └──────────────┘


// ┌─────────────┐
// │ Transitions │
// └─────────────┘
$slow: 0.4s;
$regular: 0.25s;
$fast: 0.175s;
