<!DOCTYPE html>

<html>
  <head>
    <!-- Set encoding -->
    <meta charset="utf-8">

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, user-scalable=no">

    <!-- Use title from page frontmatter -->
    <title>{{title}} | lone goose press</title>

    <!-- Link to favicon -->
    <!-- <link rel="shortcut icon" href="{{relativePath}}assets/img/favicon.ico"> -->

    <!-- stylesheets -->
    <link rel="stylesheet" href="/assets/css/style.css">
    <script src="https://checkout.stripe.com/checkout.js"></script>

    {% block head %}{% endblock %}
  </head>

  <body class="is-cart">
    <div class="js-modal modal-overlay" data-modal="cart">
      <div class="modal-content column-18" role="dialog" aria-labelledby="cart" role="dialog">
        <div class="js-cart-overview"></div>
        <p class="leader-2 text-right">
          <a href="#" class="btn btn-clear js-modal-toggle gutter-right-1">Keep Shopping</a>
          <a href="/checkout" class="btn">Checkout</a>
        </p>
      </div>
    </div>

    <div class="wrapper">
      <div class="expanding js-expanding">
        <section class="expanding-menu js-expanding" data-expanding="menu">
          <div class="grid-container padding-trailer-half">
            <div class="column-24 text-center leader-half trailer-1">
              <a href="#" class="site-nav-toggle js-expanding-toggle" data-expanding="menu">close</a>
            </div>
            <div class="column-5 pre-9 tablet-pre-3 leader-2 phone-leader-0">
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/impressions/">Impressions</a></li>
                <li><a href="/about/">About the Press</a></li>
                <li><a href="/publications/">Publications</a>
                  <ul>
                    <li><a href="/publications/broadsides/">Broadsides</a></li>
                    <li><a href="/publications/books/">Books</a></li>
                    <li><a href="/publications/ephemera/">Chapbooks, Ephemera</a></li>
                  </ul>
                </li>
                <li><a href="/commisions/">Commissions</a>
                  <ul>
                    <li><a href="/commisions/design/">Design</a></li>
                    <li><a href="/commisions/realization/">Realization</a></li>
                    <li><a href="/commisions/publishing/">Publishing Support</a></li>
                  </ul>
                </li>
                <li><a href="/contact/">Contact</a></li>
              </ul>
            </div>
          </div>
        </section>
      </div>
      {% if homepage %}
        <nav class='site-nav site-nav-homepage'>
      {% else %}
        <nav class='site-nav trailer-2'>
      {% endif %}
        <div class="grid-container text-center leader-half trailer-half" >
          <div class="column-12 tablet-column-10 tablet-pre-1 phone-column-4 phone-pre-1 pre-6">
            <a href="#" class="site-nav-toggle js-expanding-toggle" data-expanding="menu">menu</a>
          </div>
        </div>
        <div class="cart-wrapper">
          <a href="#" class="js-modal-toggle cart-link" data-modal="cart">Cart&nbsp;(<span class="js-cart-counter"></span>)</a>
        </div>
      </nav>


      {% block content %}{% endblock %}
      <div class="grid-container">
        <div class="column-24 leader-1 trailer-1">
          <p class='text-center'>
            <a class='inline-menu-link link-red' href="/">Home</a>
            <a class='inline-menu-link link-red' href="/impressions/">Impressions</a>
            <a class='inline-menu-link link-red' href="/about/"> About the Press</a>
            <a class='inline-menu-link link-red' href="/publications/"> Publications</a>
            <a class='inline-menu-link link-red' href="/commisions/"> Commissions</a>
            <a class='inline-menu-link link-red' href="/contact/"> Contact</a>
          </p>
        </div>
      </div>
    </div>

    {% include 'partials/footer.twig' %}

    <script src="/assets/js/bundle.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-59828723-1', 'auto');
      ga('send', 'pageview');

    </script>

  </body>
</html>