<html>
{% include 'partials/head.twig' %}
  <body class="{{body_class}}">
    <div class="wrapper">
      {% block content %}{% endblock %}
    </div>
    {% include 'partials/footer.twig' %}
  </body>
</html>