@import "base/reset";
@import "base/config";

@import "./node_modules/viewport-grid/lib/viewport-grid.scss";
@import "./node_modules/typecabinet/lib/sass/typecabinet.scss";


@mixin clearfix() {
  &:after {
    content: '';
    display: table;
    clear: both;
  }
}

%clearfix {
  @include clearfix();
}


.clearfix {
  @include clearfix();
}


$prefix-for-webkit:    true !default;
$prefix-for-mozilla:   true !default;
$prefix-for-microsoft: true !default;
$prefix-for-opera:     true !default;
$prefix-for-spec:      true !default; // required for keyframe mixin

@mixin prefixer ($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    @if $prefix == webkit {
      @if $prefix-for-webkit {
        -webkit-#{$property}: $value;
      }
    }
    @else if $prefix == moz {
      @if $prefix-for-mozilla {
        -moz-#{$property}: $value;
      }
    }
    @else if $prefix == ms {
      @if $prefix-for-microsoft {
        -ms-#{$property}: $value;
      }
    }
    @else if $prefix == o {
      @if $prefix-for-opera {
        -o-#{$property}: $value;
      }
    }
    @else if $prefix == spec {
      @if $prefix-for-spec {
        #{$property}: $value;
      }
    }
    @else  {
      @warn "Unrecognized prefix: #{$prefix}";
    }
  }
}

@mixin disable-prefix-for-all() {
  $prefix-for-webkit:    false;
  $prefix-for-mozilla:   false;
  $prefix-for-microsoft: false;
  $prefix-for-opera:     false;
  $prefix-for-spec:      false;
}


@mixin transform($property: none) {
  @include prefixer(transform, $property, webkit moz ms o spec);
}

@mixin transform-origin($axes: 50%) {
  @include prefixer(transform-origin, $axes, webkit moz ms o spec);
}

@mixin transform-style ($style: flat) {
  @include prefixer(transform-style, $style, webkit moz ms o spec);
}

@import "base/text-mixins";
@import "modules/expanding-nav";
@import "modules/footer";
@import "modules/inline-menu";
@import "modules/header";
@import "modules/table";
@import "modules/buttons";
@import "modules/all-of-him";
@import "modules/forms";

@import "modules/cart";

@import "base/text-helpers";

a {
  @include link-color($maroon, $blue-gray);
  text-decoration: none;
}

h2 {
  line-height: 2*$baseline;
}

.poems pre {
  @extend .body-face;
}

cite {
  color: $gray;
  @include font-size(-1);
}